In [6]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, balanced_accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import tensorflow as tf
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

# File to Load
dropout_data = "https://raw.githubusercontent.com/therahgithub/project-4/main/dropout.csv"

# Read School and Student Data File and store into Pandas DataFrames
dropout_data_df = pd.read_csv(dropout_data)

dropout_data_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [10]:
dropout_df_dum = pd.get_dummies(dropout_data_df)

dropout_df = dropout_df_dum.drop(columns=['Target_Enrolled', 'Target_Graduate'])

dropout_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target_Dropout
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,1
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,0
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,1
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,0
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,0
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,1
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,1
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,0
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,0

In [12]:
# Seperate the features, X,  from the target variable, y
y = dropout_df['Target_Dropout']
X = dropout_df.drop(columns='Target_Dropout')

In [13]:
# Preview the features data
X.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,6,1,11,1,1,1,1,3,4,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,5,1,1,1,22,27,10,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,8,2,15,1,1,1,23,27,6,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,12,1,3,0,1,1,22,28,10,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79

In [14]:
# Preview the first five entries for the target variable
y[:5]

0    1
1    0
2    1
3    0
4    0
Name: Target_Dropout, dtype: uint8

In [15]:
# Check the balance of our target values
y.value_counts()

0    3003
1    1421
Name: Target_Dropout, dtype: int64

In [16]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [17]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 280

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 331
Trainable params: 331
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled ,y_train, epochs=100)

Epoch 1/100
104/104 [==============================] - 2s 2ms/step - loss: 0.6323 - accuracy: 0.6709
Epoch 2/100
104/104 [==============================] - 0s 2ms/step - loss: 0.5219 - accuracy: 0.6742
Epoch 3/100
104/104 [==============================] - 0s 2ms/step - loss: 0.4717 - accuracy: 0.7077
Epoch 4/100
104/104 [==============================] - 0s 2ms/step - loss: 0.4466 - accuracy: 0.8165
Epoch 5/100
104/104 [==============================] - 0s 2ms/step - loss: 0.4230 - accuracy: 0.8382
Epoch 6/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3871 - accuracy: 0.8508
Epoch 7/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8623
Epoch 8/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8698
Epoch 9/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8749
Epoch 10/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3259 - accuracy: 0.8761
Epoch 11/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3220 - accuracy: 0.8767
Epoch 12/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3185 - accuracy: 0.8779
Epoch 13/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3156 - accuracy: 0.8794
Epoch 14/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3133 - accuracy: 0.8791
Epoch 15/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3112 - accuracy: 0.8791
Epoch 16/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3084 - accuracy: 0.8816
Epoch 17/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3065 - accuracy: 0.8819
Epoch 18/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3048 - accuracy: 0.8810
Epoch 19/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3028 - accuracy: 0.8834
Epoch 20/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3016 - accuracy: 0.8825
Epoch 21/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3005 - accuracy: 0.8828
Epoch 22/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2987 - accuracy: 0.8837
Epoch 23/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2978 - accuracy: 0.8828
Epoch 24/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2972 - accuracy: 0.8846
Epoch 25/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2958 - accuracy: 0.8864
Epoch 26/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2944 - accuracy: 0.8870
Epoch 27/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2933 - accuracy: 0.8858
Epoch 28/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2927 - accuracy: 0.8867
Epoch 29/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2920 - accuracy: 0.8849
Epoch 30/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2910 - accuracy: 0.8855
Epoch 31/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2899 - accuracy: 0.8873
Epoch 32/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2891 - accuracy: 0.8855
Epoch 33/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2883 - accuracy: 0.8858
Epoch 34/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2880 - accuracy: 0.8876
Epoch 35/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2881 - accuracy: 0.8843
Epoch 36/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2862 - accuracy: 0.8864
Epoch 37/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2862 - accuracy: 0.8867
Epoch 38/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2853 - accuracy: 0.8864
Epoch 39/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2847 - accuracy: 0.8858
Epoch 40/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2839 - accuracy: 0.8882
Epoch 41/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2834 - accuracy: 0.8873
Epoch 42/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2832 - accuracy: 0.8870
Epoch 43/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2829 - accuracy: 0.8909
Epoch 44/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2820 - accuracy: 0.8885
Epoch 45/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2821 - accuracy: 0.8882
Epoch 46/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2813 - accuracy: 0.8888
Epoch 47/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2812 - accuracy: 0.8903
Epoch 48/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2807 - accuracy: 0.8900
Epoch 49/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2805 - accuracy: 0.8888
Epoch 50/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2795 - accuracy: 0.8909
Epoch 51/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2804 - accuracy: 0.8897
Epoch 52/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2793 - accuracy: 0.8912
Epoch 53/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2797 - accuracy: 0.8906
Epoch 54/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2786 - accuracy: 0.8906
Epoch 55/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2792 - accuracy: 0.8930
Epoch 56/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2780 - accuracy: 0.8897
Epoch 57/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2778 - accuracy: 0.8882
Epoch 58/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2774 - accuracy: 0.8930
Epoch 59/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2772 - accuracy: 0.8918
Epoch 60/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2773 - accuracy: 0.8894
Epoch 61/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2767 - accuracy: 0.8918
Epoch 62/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2763 - accuracy: 0.8939
Epoch 63/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2765 - accuracy: 0.8915
Epoch 64/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2758 - accuracy: 0.8909
Epoch 65/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2755 - accuracy: 0.8915
Epoch 66/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2755 - accuracy: 0.8903
Epoch 67/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2749 - accuracy: 0.8936
Epoch 68/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2747 - accuracy: 0.8936
Epoch 69/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2749 - accuracy: 0.8918
Epoch 70/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2742 - accuracy: 0.8936
Epoch 71/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2738 - accuracy: 0.8924
Epoch 72/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2734 - accuracy: 0.8921
Epoch 73/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2737 - accuracy: 0.8927
Epoch 74/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2733 - accuracy: 0.8936
Epoch 75/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2729 - accuracy: 0.8924
Epoch 76/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2723 - accuracy: 0.8936
Epoch 77/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2717 - accuracy: 0.8918
Epoch 78/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2719 - accuracy: 0.8927
Epoch 79/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2714 - accuracy: 0.8951
Epoch 80/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2713 - accuracy: 0.8939
Epoch 81/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2709 - accuracy: 0.8936
Epoch 82/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2704 - accuracy: 0.8921
Epoch 83/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2705 - accuracy: 0.8951
Epoch 84/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2707 - accuracy: 0.8933
Epoch 85/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2700 - accuracy: 0.8939
Epoch 86/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2698 - accuracy: 0.8951
Epoch 87/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2688 - accuracy: 0.8936
Epoch 88/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2703 - accuracy: 0.8930
Epoch 89/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2693 - accuracy: 0.8939
Epoch 90/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2682 - accuracy: 0.8948
Epoch 91/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2680 - accuracy: 0.8948
Epoch 92/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2679 - accuracy: 0.8945
Epoch 93/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2675 - accuracy: 0.8957
Epoch 94/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2677 - accuracy: 0.8945
Epoch 95/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2669 - accuracy: 0.8954
Epoch 96/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2668 - accuracy: 0.8954
Epoch 97/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2663 - accuracy: 0.8969
Epoch 98/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2660 - accuracy: 0.8972
Epoch 99/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2657 - accuracy: 0.8924
Epoch 100/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2654 - accuracy: 0.8957

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

35/35 - 0s - loss: 0.3195 - accuracy: 0.8770 - 220ms/epoch - 6ms/step
Loss: 0.31951892375946045, Accuracy: 0.8770343661308289