In [61]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, balanced_accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import tensorflow as tf
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from google.colab import files

# File to Load
dropout_data = "https://raw.githubusercontent.com/therahgithub/project-4/main/dropout.csv"

# Read School and Student Data File and store into Pandas DataFrames
dropout_data_df = pd.read_csv(dropout_data)

dropout_data_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [62]:
dropout_df_dum = pd.get_dummies(dropout_data_df)

dropout_df = dropout_df_dum.drop(columns=['Target_Enrolled', 'Target_Graduate'])

dropout_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target_Dropout
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,1
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,0
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,1
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,0
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,0
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,1
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,1
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,0
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,0

In [63]:
# Seperate the features, X,  from the target variable, y
y = dropout_df['Target_Dropout']
X = dropout_df.drop(columns='Target_Dropout')

In [64]:
# Preview the features data
X.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,6,1,11,1,1,1,1,3,4,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,5,1,1,1,22,27,10,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,8,2,15,1,1,1,23,27,6,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,12,1,3,0,1,1,22,28,10,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79

In [65]:
# Preview the first five entries for the target variable
y[:5]

0    1
1    0
2    1
3    0
4    0
Name: Target_Dropout, dtype: uint8

In [66]:
# Check the balance of our target values
y.value_counts()

0    3003
1    1421
Name: Target_Dropout, dtype: int64

In [67]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [68]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [69]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 8)                 280

 dense_16 (Dense)            (None, 5)                 45

 dense_17 (Dense)            (None, 1)                 6

=================================================================
Total params: 331
Trainable params: 331
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [71]:
# Train the model
fit_model = nn.fit(X_train_scaled ,y_train, epochs=100)

Epoch 1/100
104/104 [==============================] - 1s 2ms/step - loss: 0.6251 - accuracy: 0.6742
Epoch 2/100
104/104 [==============================] - 0s 2ms/step - loss: 0.5824 - accuracy: 0.6742
Epoch 3/100
104/104 [==============================] - 0s 2ms/step - loss: 0.5372 - accuracy: 0.6863
Epoch 4/100
104/104 [==============================] - 0s 2ms/step - loss: 0.4909 - accuracy: 0.7942
Epoch 5/100
104/104 [==============================] - 0s 2ms/step - loss: 0.4493 - accuracy: 0.8318
Epoch 6/100
104/104 [==============================] - 0s 2ms/step - loss: 0.4165 - accuracy: 0.8484
Epoch 7/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3920 - accuracy: 0.8535
Epoch 8/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3742 - accuracy: 0.8596
Epoch 9/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8632
Epoch 10/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8671
Epoch 11/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8689
Epoch 12/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8692
Epoch 13/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8737
Epoch 14/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8767
Epoch 15/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3279 - accuracy: 0.8746
Epoch 16/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3256 - accuracy: 0.8761
Epoch 17/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3236 - accuracy: 0.8767
Epoch 18/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3218 - accuracy: 0.8761
Epoch 19/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3205 - accuracy: 0.8770
Epoch 20/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3194 - accuracy: 0.8779
Epoch 21/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3178 - accuracy: 0.8791
Epoch 22/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3169 - accuracy: 0.8776
Epoch 23/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3160 - accuracy: 0.8800
Epoch 24/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3152 - accuracy: 0.8794
Epoch 25/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3142 - accuracy: 0.8803
Epoch 26/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3135 - accuracy: 0.8797
Epoch 27/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3128 - accuracy: 0.8797
Epoch 28/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3123 - accuracy: 0.8797
Epoch 29/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3117 - accuracy: 0.8810
Epoch 30/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3112 - accuracy: 0.8813
Epoch 31/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3104 - accuracy: 0.8825
Epoch 32/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3100 - accuracy: 0.8819
Epoch 33/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3095 - accuracy: 0.8831
Epoch 34/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3090 - accuracy: 0.8831
Epoch 35/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3086 - accuracy: 0.8843
Epoch 36/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3083 - accuracy: 0.8825
Epoch 37/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3079 - accuracy: 0.8828
Epoch 38/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3072 - accuracy: 0.8834
Epoch 39/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3067 - accuracy: 0.8846
Epoch 40/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3065 - accuracy: 0.8843
Epoch 41/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3060 - accuracy: 0.8858
Epoch 42/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3056 - accuracy: 0.8852
Epoch 43/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3053 - accuracy: 0.8840
Epoch 44/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3050 - accuracy: 0.8855
Epoch 45/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3047 - accuracy: 0.8822
Epoch 46/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3042 - accuracy: 0.8852
Epoch 47/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3040 - accuracy: 0.8843
Epoch 48/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3037 - accuracy: 0.8837
Epoch 49/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3036 - accuracy: 0.8846
Epoch 50/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3028 - accuracy: 0.8840
Epoch 51/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3028 - accuracy: 0.8861
Epoch 52/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8840
Epoch 53/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8846
Epoch 54/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3017 - accuracy: 0.8867
Epoch 55/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3012 - accuracy: 0.8858
Epoch 56/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3012 - accuracy: 0.8846
Epoch 57/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3011 - accuracy: 0.8843
Epoch 58/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3006 - accuracy: 0.8861
Epoch 59/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3003 - accuracy: 0.8852
Epoch 60/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2999 - accuracy: 0.8861
Epoch 61/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2992 - accuracy: 0.8861
Epoch 62/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2993 - accuracy: 0.8849
Epoch 63/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2989 - accuracy: 0.8873
Epoch 64/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2985 - accuracy: 0.8858
Epoch 65/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2982 - accuracy: 0.8864
Epoch 66/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2978 - accuracy: 0.8864
Epoch 67/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2976 - accuracy: 0.8873
Epoch 68/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2974 - accuracy: 0.8876
Epoch 69/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2968 - accuracy: 0.8876
Epoch 70/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2965 - accuracy: 0.8870
Epoch 71/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2967 - accuracy: 0.8867
Epoch 72/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2959 - accuracy: 0.8873
Epoch 73/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2956 - accuracy: 0.8864
Epoch 74/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2955 - accuracy: 0.8867
Epoch 75/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2952 - accuracy: 0.8864
Epoch 76/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2944 - accuracy: 0.8873
Epoch 77/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2944 - accuracy: 0.8870
Epoch 78/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2941 - accuracy: 0.8873
Epoch 79/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2940 - accuracy: 0.8879
Epoch 80/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2937 - accuracy: 0.8876
Epoch 81/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2933 - accuracy: 0.8879
Epoch 82/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2926 - accuracy: 0.8876
Epoch 83/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2928 - accuracy: 0.8864
Epoch 84/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2922 - accuracy: 0.8882
Epoch 85/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2921 - accuracy: 0.8885
Epoch 86/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2918 - accuracy: 0.8876
Epoch 87/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2910 - accuracy: 0.8882
Epoch 88/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2911 - accuracy: 0.8885
Epoch 89/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2905 - accuracy: 0.8897
Epoch 90/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2905 - accuracy: 0.8894
Epoch 91/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2901 - accuracy: 0.8891
Epoch 92/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2895 - accuracy: 0.8915
Epoch 93/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2895 - accuracy: 0.8891
Epoch 94/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2890 - accuracy: 0.8891
Epoch 95/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2888 - accuracy: 0.8891
Epoch 96/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2888 - accuracy: 0.8888
Epoch 97/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2882 - accuracy: 0.8903
Epoch 98/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2879 - accuracy: 0.8903
Epoch 99/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2876 - accuracy: 0.8903
Epoch 100/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2873 - accuracy: 0.8912

In [72]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

35/35 - 0s - loss: 0.2992 - accuracy: 0.8852 - 174ms/epoch - 5ms/step
Loss: 0.2991994619369507, Accuracy: 0.8851717710494995