In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, balanced_accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import tensorflow as tf
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from google.colab import files

# File to Load
dropout_data = "https://raw.githubusercontent.com/therahgithub/project-4/main/dropout.csv"

# Read School and Student Data File and store into Pandas DataFrames
dropout_data_df = pd.read_csv(dropout_data)

dropout_data_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [4]:
dropout_df_dum = pd.get_dummies(dropout_data_df)

dropout_df = dropout_df_dum.drop(columns=['Target_Enrolled', 'Target_Graduate'])

dropout_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target_Dropout
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,1
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,0
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,1
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,0
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,0
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,1
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,1
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,0
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,0

In [5]:
# Seperate the features, X,  from the target variable, y
y = dropout_df['Target_Dropout']
X = dropout_df.drop(columns='Target_Dropout')

In [6]:
# Preview the features data
X.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,6,1,11,1,1,1,1,3,4,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,5,1,1,1,22,27,10,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,8,2,15,1,1,1,23,27,6,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,12,1,3,0,1,1,22,28,10,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79

In [7]:
# Preview the first five entries for the target variable
y[:5]

0    1
1    0
2    1
3    0
4    0
Name: Target_Dropout, dtype: uint8

In [8]:
# Check the balance of our target values
y.value_counts()

0    3003
1    1421
Name: Target_Dropout, dtype: int64

In [9]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [10]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [11]:
print(len(X_train_scaled[0]))

34

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                1750

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 3,051
Trainable params: 3,051
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled ,y_train, epochs=100)

Epoch 1/100
104/104 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.6938
Epoch 2/100
104/104 [==============================] - 0s 2ms/step - loss: 0.4377 - accuracy: 0.8234
Epoch 3/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3655 - accuracy: 0.8508
Epoch 4/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8653
Epoch 5/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3274 - accuracy: 0.8728
Epoch 6/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3228 - accuracy: 0.8752
Epoch 7/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3198 - accuracy: 0.8743
Epoch 8/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3173 - accuracy: 0.8785
Epoch 9/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3150 - accuracy: 0.8764
Epoch 10/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3136 - accuracy: 0.8788
Epoch 11/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3126 - accuracy: 0.8785
Epoch 12/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3117 - accuracy: 0.8767
Epoch 13/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3114 - accuracy: 0.8803
Epoch 14/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3103 - accuracy: 0.8797
Epoch 15/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8797
Epoch 16/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3079 - accuracy: 0.8816
Epoch 17/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3081 - accuracy: 0.8807
Epoch 18/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3074 - accuracy: 0.8779
Epoch 19/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3071 - accuracy: 0.8800
Epoch 20/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3056 - accuracy: 0.8834
Epoch 21/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3051 - accuracy: 0.8825
Epoch 22/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3046 - accuracy: 0.8788
Epoch 23/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3042 - accuracy: 0.8810
Epoch 24/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3034 - accuracy: 0.8828
Epoch 25/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3039 - accuracy: 0.8810
Epoch 26/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8831
Epoch 27/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3026 - accuracy: 0.8816
Epoch 28/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3015 - accuracy: 0.8840
Epoch 29/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3001 - accuracy: 0.8840
Epoch 30/100
104/104 [==============================] - 0s 2ms/step - loss: 0.3000 - accuracy: 0.8831
Epoch 31/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2996 - accuracy: 0.8864
Epoch 32/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2994 - accuracy: 0.8861
Epoch 33/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2986 - accuracy: 0.8843
Epoch 34/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2987 - accuracy: 0.8834
Epoch 35/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2975 - accuracy: 0.8852
Epoch 36/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2965 - accuracy: 0.8846
Epoch 37/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2962 - accuracy: 0.8867
Epoch 38/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2944 - accuracy: 0.8900
Epoch 39/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2945 - accuracy: 0.8867
Epoch 40/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2940 - accuracy: 0.8873
Epoch 41/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2934 - accuracy: 0.8864
Epoch 42/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2923 - accuracy: 0.8873
Epoch 43/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2915 - accuracy: 0.8873
Epoch 44/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2907 - accuracy: 0.8888
Epoch 45/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2902 - accuracy: 0.8894
Epoch 46/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2892 - accuracy: 0.8888
Epoch 47/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2889 - accuracy: 0.8894
Epoch 48/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2876 - accuracy: 0.8900
Epoch 49/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2864 - accuracy: 0.8939
Epoch 50/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2853 - accuracy: 0.8918
Epoch 51/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2847 - accuracy: 0.8906
Epoch 52/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2834 - accuracy: 0.8924
Epoch 53/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2836 - accuracy: 0.8915
Epoch 54/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2817 - accuracy: 0.8939
Epoch 55/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2824 - accuracy: 0.8912
Epoch 56/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2797 - accuracy: 0.8933
Epoch 57/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2796 - accuracy: 0.8945
Epoch 58/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2780 - accuracy: 0.8954
Epoch 59/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2759 - accuracy: 0.8963
Epoch 60/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2758 - accuracy: 0.8951
Epoch 61/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2751 - accuracy: 0.8960
Epoch 62/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2726 - accuracy: 0.8975
Epoch 63/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2733 - accuracy: 0.8981
Epoch 64/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2729 - accuracy: 0.8990
Epoch 65/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2699 - accuracy: 0.8981
Epoch 66/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2693 - accuracy: 0.9005
Epoch 67/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2673 - accuracy: 0.8990
Epoch 68/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2662 - accuracy: 0.8987
Epoch 69/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2662 - accuracy: 0.8999
Epoch 70/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2645 - accuracy: 0.9020
Epoch 71/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2627 - accuracy: 0.9020
Epoch 72/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2623 - accuracy: 0.9014
Epoch 73/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2606 - accuracy: 0.9014
Epoch 74/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2591 - accuracy: 0.9048
Epoch 75/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2580 - accuracy: 0.9039
Epoch 76/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2569 - accuracy: 0.9033
Epoch 77/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2563 - accuracy: 0.9036
Epoch 78/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2545 - accuracy: 0.9072
Epoch 79/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2536 - accuracy: 0.9057
Epoch 80/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2507 - accuracy: 0.9069
Epoch 81/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2498 - accuracy: 0.9063
Epoch 82/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2487 - accuracy: 0.9066
Epoch 83/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2480 - accuracy: 0.9063
Epoch 84/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2462 - accuracy: 0.9075
Epoch 85/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2457 - accuracy: 0.9072
Epoch 86/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2430 - accuracy: 0.9087
Epoch 87/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2427 - accuracy: 0.9108
Epoch 88/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2412 - accuracy: 0.9105
Epoch 89/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2399 - accuracy: 0.9114
Epoch 90/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2389 - accuracy: 0.9090
Epoch 91/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2362 - accuracy: 0.9108
Epoch 92/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2349 - accuracy: 0.9150
Epoch 93/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2337 - accuracy: 0.9135
Epoch 94/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2319 - accuracy: 0.9162
Epoch 95/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2306 - accuracy: 0.9141
Epoch 96/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2307 - accuracy: 0.9144
Epoch 97/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2285 - accuracy: 0.9144
Epoch 98/100
104/104 [==============================] - 0s 2ms/step - loss: 0.2263 - accuracy: 0.9123
Epoch 99/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2257 - accuracy: 0.9165
Epoch 100/100
104/104 [==============================] - 1s 6ms/step - loss: 0.2245 - accuracy: 0.9174

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

35/35 - 0s - loss: 0.3031 - accuracy: 0.8807 - 279ms/epoch - 8ms/step
Loss: 0.30311280488967896, Accuracy: 0.8806509971618652